@media(max-width: 861px) {
    aside {
        display: none;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }
}