@media(max-width: 793px) {

        .Object {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            max-width: 100%;
            gap: 20px;
            margin: 0px 30px 20px 30px;
            z-index: 1;
        }

    
        .Object>h1 {
            color: var(--color-text);
            align-self: baseline;
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            margin: 10px 0px 10px 0px;
        }

        .MobileFilter{
            width: 100%;
            height: 39px;
            border-radius: 16px;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0%;
            text-transform: uppercase;
            text-align: start;
            background-color: white;
            color: black;
            border: 1px solid #33333380;
        }

        .Object>h1>a{
            color: #333;
            opacity: 40%;
            text-decoration: none;
        }
    
    
        .Sizes {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-areas: 
             "img input input input"
             "btn btn btn btn";
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
        }
    
        .Sizes>input::-webkit-outer-spin-button,
        .Sizes>form>input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        .Sizes>input {
            margin: 0px;
            width: 80px;
            appearance: textfield;
            background-color: #E6E6E6;
            opacity: 50%;
            border: none;
            border-radius: 8px;
        }

                .Sizes>select {
                    margin: 0px;
                    width: 80px;
                    height: 35px;
                    appearance: textfield;
                    background-color: #E6E6E6;
                    opacity: 50%;
                    border: none;
                    border-radius: 8px;
                }
    
        .Sizes>input:hover {
            opacity: 100%;
        }

        .Sizes>button{
            grid-area: btn;
            width: 360px;
            border-radius: 8px;
            color: white;
            background-color: var(--color-primary);
        }

                .Sizes>button:hover {
                    background-color: rgb(188, 112, 40);
                    border: rgba(71, 71, 71, 0.05) solid 1px;
                }

                .Sizes>button:active {
                    color: white;
                    background-color: var(--color-primary);
                }
    
        .DesktopOnly {
            display: none;
        }

                main {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    gap: 25px;
                    margin-left: 50px;
                    margin-right: 50px;
                    padding-bottom: 50px;
                    width: 100%;
                }
        
                main article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: none;
                    border: 1px solid #33333333;
                    border-radius: 8px;
                }

                main article div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;
                    margin: 15px 15px 10px 15px;
                }
        
                main article div img {
                    width: 70px;
                    height: 80px;
                    margin: 0px 0px 0px 20px;
                }
        
                main article div section {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                    margin: 0px;
                    padding: 0px;
                    width: fit-content;
                }
        
                main article div section div {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 5px;
                    padding: 0px;
                }
        
                main article div section div h2 {
                    font-size: 26px;
                    font-weight: 400;
                    color: var(--color-text);
                    justify-items: start;
                    align-self: start;
                    margin: 0px;
                }
        
                main article div section div summary {
                    border-radius: 16px;
                    padding: 4px 8px 4px 8px;
                    gap: 10px;
                    border: 1px solid #333333;
                    align-self: start;
                    user-select: none;
                }

    main article section summary span {
        color: var(--color-text);
        opacity: 50%;
    }

    .MobileInfos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: fit-content;
        padding: 0px 0px 0px 0px;
        right: 3vh;
    }
        
    .PDF{
        width: 40px;
        height: 31px;
        border-radius: 16px;
        gap: 10px;
        border: 1px solid #F39135;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px 0px 8px;
        cursor: pointer;
    }
    
    .PDF img {
        width: 18px;
        height: 18px;
        margin: 0px;
    }

    .STOCK {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 23px;
        border-radius: 16px;
        padding: 4px 8px 4px 8px;
        gap: 5px;
        background: #F39135;
        color: #FFF;
        font-size: 14px;
    }
        
    .STOCK img {
        width: 18px;
        height: 18px;
        margin: 0px;
    }
        

    .Options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        padding: 10px 0px 10px 0px;
        width: 100%;
        margin-top: 10px;
        background-color: #F2F2F2;
    }
        
    .Options>button,
    .Options>a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        padding: 0px 0px 0px 0px;
        right: 3vh;
    }
        
                .Options>button {
                    width: 119px;
                    height: 30px;
                    border-radius: 16px;
                    padding: 8px 16px 8px 16px;
                    gap: 10px;
                    background: var(--color-primary);
                    color: #FFF;
                    cursor: pointer;
                }
        
                .Options>a {
                    width: 119px;
                    height: 30px;
                    border-radius: 16px;
                    gap: 10px;
                    background: #FFF0;
                    color: var(--color-primary);
                    text-decoration: none;
                    border: 1px solid #F39135;
                }

    .Buy{
        display: grid;
        grid-template-columns: 125px 1fr;
        background-color: var(--color-primary);
        border-radius: 0px 0px 8px 8px;
        margin-top: 10px;
        animation: fadeInMobile 0.3s ease-in-out;
        width: 100%;
        padding-top: 10px;
    }

    .BuyAnimation{
        animation: fadeOutMobile 0.3s ease-in-out;
    }

    .x{
        display: none;
    }

    .Price{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        color: #FFF;
        font-size: 15px;
    }

    .Price p{
        text-align: start;
    }

    .Buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }


    .Buttons span{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #FFFFFF;
        border-radius: 16px;
        height: 30px;
        width: 98px;
    }

    .Buttons span input::-webkit-outer-spin-button,
    .Buttons span input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
     }

    .Buttons span input{
        border: none;
        text-align: center;
        background: none;
        color: #FFF;
        appearance: textfield;
        width: 25px;
        height: 32px;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }

        .Buttons span button {
            background: none;
            color: #FFF;
            border-radius: 16px;
            border: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            text-align: end;
            font-size: 12px;
        }
    
        .Buttons span button:first-child {
            text-align: start;
        }

        .PEDIR {
            width: 98px;
            height: 30px;
            border-radius: 16px;
            gap: 10px;
            background: #FFFFFF;
            color: var(--color-primary);
            border: 1px solid #FFFFFF;
            cursor: pointer;
            margin: 0px;
            text-align: center;
        }
    
    .DesktopOnly {
        display: none;
    }

    #DebugButton{
        width: 100px;
        height: 30px;
    }

    #DebugButton img{
        display: none;
    }

    /* Animations */
    @keyframes fadeInMobile {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOutMobile {
        0% {
            opacity: 1;
        }
        100% {            
            opacity: 0;

        }
    }


    /* Responsive */
    @media (max-width: 350px) {
        .Sizes {
            grid-template-areas:
                    "img input input input"
                    "btn btn btn btn";
            justify-content: center;
        }

        .Sizes>input {
            width: 50px;
        }
        .Sizes>img{
            display: none;
        }

        main article div img {
            width: 50px;
            height: 60px;
        }

        main article div section div h2 {
            font-size: 24px;
        }

        main article div section div summary {
            font-size: 12px;
        }

        .Buy{
            grid-template-columns: 100px 1fr;
        }
        
    }

}
