@media(max-width: 768px) {


        .Object {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            gap: 20px;
            margin: 0px 30px 20px 30px;
            z-index: 1;
        }

    
        .Object>h1 {
            color: var(--color-text);
            align-self: baseline;
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            margin: 10px 0px 10px 0px;
        }

        .MobileFilter{
            width: 100%;
            height: 39px;
            border-radius: 16px;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0%;
            text-transform: uppercase;
            text-align: start;
            background-color: white;
            border: 1px solid #33333380
        }

        .Object>h1>a{
            color: #333;
            opacity: 40%;
            text-decoration: none;
        }
    
    
        .Sizes {
            display: grid;
            grid-template-columns: 20px 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
        }
    
        .Sizes>input::-webkit-outer-spin-button,
        .Sizes>form>input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        .Sizes>input {
            margin: 0px;
            width: 80px;
            appearance: textfield;
            background-color: #E6E6E6;
            opacity: 50%;
            border: none;
            border-radius: 8px;
        }
    
        .Sizes>input:hover {
            opacity: 100%;
        }
    
        .DesktopOnly {
            display: none;
        }

                main {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    gap: 25px;
                    margin-left: 50px;
                    margin-right: 50px;
                    padding-bottom: 50px;
                    width: 100%;
                }
        
                main article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: none;
                    border: 1px solid #33333333;
                    border-radius: 8px;
                }

                main article div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;
                    margin: 15px 15px 10px 15px;
                }
        
                main article div img {
                    width: 70px;
                    height: 80px;
                    margin: 0px 0px 0px 20px;
                }
        
                main article div section {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                    margin: 0px;
                    padding: 0px;
                    width: fit-content;
                }
        
                main article div section div {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 5px;
                    padding: 0px;
                }
        
                main article div section div h2 {
                    font-size: 26px;
                    font-weight: 400;
                    color: var(--color-text);
                    justify-items: start;
                    align-self: start;
                    margin: 0px;
                }
        
                main article div section div summary {
                    border-radius: 16px;
                    padding: 4px 8px 4px 8px;
                    gap: 10px;
                    border: 1px solid #333333;
                    align-self: start;
                    user-select: none;
                }

    main article section summary span {
        color: var(--color-text);
        opacity: 50%;
    }

    .MobileInfos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: fit-content;
        padding: 0px 0px 0px 0px;
        right: 3vh;
    }
        
    .CONSULTAR{
        width: 50px;
        height: 31px;
        border-radius: 16px;
        padding: 4px 16px 4px 16px;
        gap: 10px;
        border: 1px solid #F39135;
        background-color: #FFF;
        display: flex;
        align-items: center;
        margin: 0px 5px 0px 8px;
        cursor: pointer;
    }
    
    .CONSULTAR img {
        width: 18px;
        height: 18px;
        margin: 0px;
    }

    .STOCK {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 23px;
        border-radius: 16px;
        padding: 4px 8px 4px 8px;
        gap: 5px;
        background: #F39135;
        color: #FFF;
        font-size: 14px;
    }
        
    .STOCK img {
        width: 18px;
        height: 18px;
        margin: 0px;
    }
        

    .Options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        padding: 10px 0px 10px 0px;
        width: 100%;
        margin-top: 10px;
        background-color: #F2F2F2;
    }
        
                .Options>button,
                .Options>a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: fit-content;
                    padding: 0px 0px 0px 0px;
                    right: 3vh;
    }
        
                .Options>button {
                    width: 119px;
                    height: 30px;
                    border-radius: 16px;
                    padding: 8px 16px 8px 16px;
                    gap: 10px;
                    background: var(--color-primary);
                    color: #FFF;
                    cursor: pointer;
                }
        
                .Options>a {
                    width: 119px;
                    height: 30px;
                    border-radius: 16px;
                    gap: 10px;
                    background: #FFF0;
                    color: var(--color-primary);
                    text-decoration: none;
                    border: 1px solid #F39135;
                }
    .DesktopOnly {
        display: none;
    }

}
