article{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 50vh;
    padding: 0px 10px;
}


.four-0-four{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    align-items: center;
    font-weight: 400;
}

.four-0-four>h1{
    font-size: 32px;
    font-weight: 400;
}

.four-0-four>h2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
}

.four-0-four>a{
    text-decoration: none;
    color: var(--color-text);
    background-color: #E6E6E680;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    margin-top: 150px;
}

.four-0-four>a:hover{
    background-color: #E6E6E6;
    color: var(--color-text);
}