header{
    display: flex;
    width: full;
    flex-direction: row;
    padding: 40px;
}

.headerlinks{
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 23px;
    gap: 48px;
    text-decoration: none;
    color: #333;
}



/* */