@media(min-width: 1025px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        justify-items: center;
        align-items: center;
        gap: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 50px;
    }

    main a{
        background-color: #E6E6E680;
        color: var(--color-text);
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        font-weight: 400;
        padding: 5px;
        padding-top: 5px;
        height: 400px;
        width: 356px;
        align-content: center;
    }

    main a:hover{
        background-color: #e6e6e6c2;
        color: var(--color-text);
    }

    main a h5{
        font-size: 32px;
        margin: 10px;
        font-weight: 400;
    }

    .productIMG{
        margin-top: 10px;
        height: 30vh;
        width: 30vh;
        border-radius: 8px;
    }
    @media (min-width: 1551px) {
        main{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (min-width: 2274px) {
        main{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    @media (min-width: 2799px) {
        main{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    @media (min-width: 3333px) {
        main{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}