.Object{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
}

.Object>h1{
    color: var(--color-text);
    margin: 0px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.Object>form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    color: #E6E6E6;
    user-select: none;
}

.Object > form > input{
    background-color: #E6E6E6;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    width: 206px;
    height: 43px;
    padding: 0;
    appearance: textfield;
    margin: 0px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 50px;
}


.Object>form>ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}

.Object>form>button {
    background-color: #FFF;
    height: 39px;
    border: #80808033 solid 1px;
    padding: 10px;
    border-radius: 16px;
    color: var(--color-text);
    margin: 0px;
}


.Object>form>ul>li>button {
    background-color: #FFF;
    height: 39px;
    border: #80808033 solid 1px;
    padding: 10px;
    border-radius: 16px;
    color: var(--color-text);
    margin: 0px;
}

.moreConcretPice{
    justify-content: start;
    height: 400px;
    width: 356px;
}

.moreConcretPice>h5{
    color: var(--color-text);
    text-align: start;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.moreConcretPice>img{
    width: 135px;
    height: 150px;
    border-radius: 16px;
    margin: 50px 20px 50px 20px;
}

.moreConcretPice>summary {
    color: var(--color-text);
    text-align: start;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 20px 20px 20px;
}



/* Hover */

.Object>form>input:hover {
    background-color: #E6E6E6;
    opacity: 100%;
}

.Object>form>button:hover {
    background-color: var(--color-black); 
    border:rgba(71, 71, 71, 0.05) solid 1px;
}
.Object>form>ul>li>button:hover {
    background-color: var(--color-black);
    border: rgba(71, 71, 71, 0.05) solid 1px;
}

/* Active */

.Object>form>button:active {
    background-color: var(--color-primary);
    color: #F6F6F6
}

.Object>form>ul>li>button:active {
    background-color: var(--color-primary);
        color: #F6F6F6
}